[Unit]
Description=MQTT Statsd
After=mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env python3 /home/pi/mqtt-statsd/mqtt-statsd.py

[Install]
WantedBy=multi-user.target
